.btn_start, .quiz, .score_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.quiz.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}


.quiz {
    width: 550px;

    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}



.card_title{
    font-size: 22px;
    font-weight: 600;
}
.question{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.option{
    font-size: 19px;
    border: 1px solid;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option:hover{
    background-color: orange;
}
.correct{
    background-color: #b5e7a0;
}
.incorrect{
    background-color: #eea29a;
}
.disable{
    pointer-events: none;
}
.next_btn{
    opacity: 0;
    pointer-events: none;
}
.next_btn.show{
    opacity: 1;
    pointer-events: auto;
}
.question_index{
    text-align: center;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* score box */

.score_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}
.score_box {
    width: 400px;
    font-size: 25px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    background-color: #f0f0f0;
    padding: 50px 20px;
    border-radius: 20px;
}
.icon{
    text-align: center;
    margin: 20px;
    color: gold;
    
}
.buttons{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.timer{
    font-size: 25px;
}
.time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 10%;
    
}
@media screen and (max-width: 600px) {
    .card{
        width: 250px;
        font-size: 15px;
    }
    .quiz{
        width: 200px;
    }
    .question{
        font-size: 15px;
    }
    .option{
        font-size: 14px
    }
    .score_box{
        width: 250px;
    }
    .btn-lg{
        width: 100px !important;
        height: 40px;
        padding: 0px !important;
        font-size: 16px !important;
    }
    .score_text{
        font-size: 20px;
    }
  }